In [1]:
import pandas as pd
data_train=pd.read_csv("adult/adult.data")
print(data_train.head())

   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3            Cuba   <=50K
4   United-States   <=50K

In [2]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
column_names = ["age", "workclass", "fnlwgt", "education", "education-num",
				"marital-status", "occupation", "relationship", "race", "sex",
				"capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
data_train.columns = column_names
print(data_train.head())

   age          workclass  fnlwgt   education  education-num  \
0   50   Self-emp-not-inc   83311   Bachelors             13
1   38            Private  215646     HS-grad              9
2   53            Private  234721        11th              7
3   28            Private  338409   Bachelors             13
4   37            Private  284582     Masters             14

        marital-status          occupation    relationship    race      sex  \
0   Married-civ-spouse     Exec-managerial         Husband   White     Male
1             Divorced   Handlers-cleaners   Not-in-family   White     Male
2   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
3   Married-civ-spouse      Prof-specialty            Wife   Black   Female
4   Married-civ-spouse     Exec-managerial            Wife   White   Female

   capital-gain  capital-loss  hours-per-week  native-country  income
0             0             0              13   United-States   <=50K
1             0             0              40   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40            Cuba   <=50K
4             0             0              40   United-States   <=50K

In [4]:
data_train.shape

(32560, 15)

In [5]:
# verify the null values in the dataset
print(data_train.isnull().sum()) # no null values

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [6]:
for col in data_train.columns:
    print(f"Unique values in column '{col}': {data_train[col].unique()}") # we are observing some " ?" values which indicates missing values that we have to handle

Unique values in column 'age': [50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 39 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]
Unique values in column 'workclass': [' Self-emp-not-inc' ' Private' ' State-gov' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
Unique values in column 'fnlwgt': [ 83311 215646 234721 ...  34066  84661 257302]
Unique values in column 'education': [' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
Unique values in column 'education-num': [13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
Unique values in column 'marital-status': [' Married-civ-spouse' ' Divorced' ' Married-spouse-absent'
 ' Never-married' ' Separated' ' Married-AF-spouse' ' Widowed']
Unique values in column 'occupation': [' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Adm-clerical' ' Sales' ' Craft-repair'
 ' Transport-moving' ' Farming-fishing' ' Machine-op-inspct'
 ' Tech-support' ' ?' ' Protective-serv' ' Armed-Forces'
 ' Priv-house-serv']
Unique values in column 'relationship': [' Husband' ' Not-in-family' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
Unique values in column 'race': [' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
Unique values in column 'sex': [' Male' ' Female']
Unique values in column 'capital-gain': [    0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386  7298
  1409  3674  1055  3464  2050  2176  2174   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]
Unique values in column 'capital-loss': [   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
Unique values in column 'hours-per-week': [13 40 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
Unique values in column 'native-country': [' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
Unique values in column 'income': [' <=50K' ' >50K']

In [7]:
# Count occurrences of the " ?" placeholder per column (avoids mixing types during sum)
(data_train == " ?").sum()   # we observe that 1386 lines in workclass and 1843 lines in occupation and 583 lines in native-country have " ?" values which is huge , so we can't just delete thses rows.

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [8]:
# imputation of missing values with mode of respective columns
data_train.replace(" ?", pd.NA, inplace=True)
cols_missing = ["workclass", "occupation", "native-country"]

for col in cols_missing:
    data_train[col].fillna(data_train[col].mode()[0], inplace=True)

C:\Users\mouha\AppData\Local\Temp\ipykernel_3160\2350956243.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_train[col].fillna(data_train[col].mode()[0], inplace=True)

In [9]:
(data_train==" ?").sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [10]:
# Unique values after imputation
workclass_data=[" Private", " Self-emp-not-inc", " Self-emp-inc", " Federal-gov", " Local-gov", " State-gov", " Without-pay", " Never-worked"]
education_data=[" Bachelors", " Some-college", " 11th", " HS-grad", " Prof-school", " Assoc-acdm", " Assoc-voc", " 9th", " 7th-8th", " 12th", " Masters", " 1st-4th", " 10th", " Doctorate", " 5th-6th", " Preschool"]
martial_status_data=[" Married-civ-spouse", " Divorced", " Never-married", " Separated", " Widowed", " Married-spouse-absent", " Married-AF-spouse"]
occupation_data=[" Tech-support", " Craft-repair", " Other-service", " Sales", " Exec-managerial", " Prof-specialty", " Handlers-cleaners", " Machine-op-inspct", " Adm-clerical", " Farming-fishing", " Transport-moving", " Priv-house-serv", " Protective-serv", " Armed-Forces"]
relationship_data=[" Wife", " Own-child", " Husband", " Not-in-family", " Other-relative", " Unmarried"]    
race_data=[" White", " Asian-Pac-Islander", " Amer-Indian-Eskimo", " Other", " Black"]
sex_data=[" Female"," Male"]
native_country_data=[" United-States", " Cambodia", " England", " Puerto-Rico", " Canada", " Germany", " Outlying-US(Guam-USVI-etc)", " India", " Japan", " Greece", " South", " China", " Cuba", " Iran", " Honduras", " Philippines", " Italy", " Poland", " Jamaica", " Vietnam", " Mexico", " Portugal", " Ireland", " France", " Dominican-Republic", " Laos", " Ecuador", " Taiwan", " Haiti", " Columbia", " Hungary", " Guatemala", " Nicaragua", " Scotland", " Thailand", " Yugoslavia", " El-Salvador", " Trinadad&Tobago", " Peru", " Hong", " Holand-Netherlands"]

In [11]:
cols_to_encode = {
    'workclass': workclass_data,
    'education': education_data,
    'marital-status': martial_status_data,
    'occupation': occupation_data,
    'relationship': relationship_data,
    'race': race_data,
    'sex': sex_data,
    'native-country': native_country_data,
    
}

In [12]:

for col, categories in cols_to_encode.items():
    data_train[col] = pd.Categorical(data_train[col], categories=categories)


data_encoded = pd.get_dummies(
    data_train,
    columns=list(cols_to_encode.keys()),
    prefix=list(cols_to_encode.keys()),
    dummy_na=False
)

data_encoded['income'] = data_encoded['income'].map({' >50K': 1, ' <=50K': 0})

data_encoded.head()
data_encoded.shape

(32560, 106)

In [16]:
import sklearn
print(sklearn.__version__)

1.5.2

In [15]:
from collections import Counter
from imblearn.over_sampling import SMOTE

# Separate features and target
X = data_encoded.drop(columns=['income'])
y = data_encoded['income']

print("Before SMOTE:", Counter(y))

# Apply SMOTE on training set
smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_resample(X, y)

print("After SMOTE:", Counter(y_res))

ModuleNotFoundError: No module named 'imblearn'

In [35]:
# let's explore the test dataset
# adult.test has an initial header/comment row and income values ending with a '.'
# read without inferring header, skip the first row, and assign our known column names
data_test = pd.read_csv("adult/adult.test", header=None, names=column_names, skiprows=1)

# clean income labels to match training set (remove trailing '.' and extra spaces)
data_test['income'] = data_test['income'].astype(str).str.strip().str.rstrip('.')

print(data_test.head())

   age   workclass  fnlwgt      education  education-num       marital-status  \
0   25     Private  226802           11th              7        Never-married
1   38     Private   89814        HS-grad              9   Married-civ-spouse
2   28   Local-gov  336951     Assoc-acdm             12   Married-civ-spouse
3   44     Private  160323   Some-college             10   Married-civ-spouse
4   18           ?  103497   Some-college             10        Never-married

           occupation relationship    race      sex  capital-gain  \
0   Machine-op-inspct    Own-child   Black     Male             0
1     Farming-fishing      Husband   White     Male             0
2     Protective-serv      Husband   White     Male             0
3   Machine-op-inspct      Husband   Black     Male          7688
4                   ?    Own-child   White   Female             0

   capital-loss  hours-per-week  native-country income
0             0              40   United-States  <=50K
1             0              50   United-States  <=50K
2             0              40   United-States   >50K
3             0              40   United-States   >50K
4             0              30   United-States  <=50K

In [36]:
print(data_test.isnull().sum()) # no null values

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [38]:
# Count occurrences of the " ?" placeholder per column (avoids mixing types during sum)
(data_test == " ?").sum()   # we observe that 963 lines in workclass and 966 lines in occupation and 274 lines in native-country have " ?" .

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [40]:
data_test.replace(" ?", pd.NA, inplace=True)
cols_missing = ["workclass", "occupation", "native-country"]

for col in cols_missing:
    data_test[col].fillna(data_test[col].mode()[0], inplace=True)

C:\Users\mohrazi\AppData\Local\Temp\ipykernel_22548\2195442659.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_test[col].fillna(data_test[col].mode()[0], inplace=True)

In [41]:
(data_test == " ?").sum() #no more ?"values"

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [42]:
for col in data_test.columns:
    print(f"Unique values in column '{col}': {data_test[col].unique()}") # we are observing some " ?" values which indicates missing values that we have to handle

Unique values in column 'age': [25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87]
Unique values in column 'workclass': [' Private' ' Local-gov' ' Self-emp-not-inc' ' Federal-gov' ' State-gov'
 ' Self-emp-inc' ' Without-pay' ' Never-worked']
Unique values in column 'fnlwgt': [226802  89814 336951 ... 349230 321403  83891]
Unique values in column 'education': [' 11th' ' HS-grad' ' Assoc-acdm' ' Some-college' ' 10th' ' Prof-school'
 ' 7th-8th' ' Bachelors' ' Masters' ' Doctorate' ' 5th-6th' ' Assoc-voc'
 ' 9th' ' 12th' ' 1st-4th' ' Preschool']
Unique values in column 'education-num': [ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
Unique values in column 'marital-status': [' Never-married' ' Married-civ-spouse' ' Widowed' ' Divorced'
 ' Separated' ' Married-spouse-absent' ' Married-AF-spouse']
Unique values in column 'occupation': [' Machine-op-inspct' ' Farming-fishing' ' Protective-serv'
 ' Prof-specialty' ' Other-service' ' Craft-repair' ' Adm-clerical'
 ' Exec-managerial' ' Tech-support' ' Sales' ' Priv-house-serv'
 ' Transport-moving' ' Handlers-cleaners' ' Armed-Forces']
Unique values in column 'relationship': [' Own-child' ' Husband' ' Not-in-family' ' Unmarried' ' Wife'
 ' Other-relative']
Unique values in column 'race': [' Black' ' White' ' Asian-Pac-Islander' ' Other' ' Amer-Indian-Eskimo']
Unique values in column 'sex': [' Male' ' Female']
Unique values in column 'capital-gain': [    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936]
Unique values in column 'capital-loss': [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648]
Unique values in column 'hours-per-week': [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69]
Unique values in column 'native-country': [' United-States' ' Peru' ' Guatemala' ' Mexico' ' Dominican-Republic'
 ' Ireland' ' Germany' ' Philippines' ' Thailand' ' Haiti' ' El-Salvador'
 ' Puerto-Rico' ' Vietnam' ' South' ' Columbia' ' Japan' ' India'
 ' Cambodia' ' Poland' ' Laos' ' England' ' Cuba' ' Taiwan' ' Italy'
 ' Canada' ' Portugal' ' China' ' Nicaragua' ' Honduras' ' Iran'
 ' Scotland' ' Jamaica' ' Ecuador' ' Yugoslavia' ' Hungary' ' Hong'
 ' Greece' ' Trinadad&Tobago' ' Outlying-US(Guam-USVI-etc)' ' France']
Unique values in column 'income': ['<=50K' '>50K']

In [52]:
# Preprocessing the test dataset.
for col, categories in cols_to_encode.items():
    data_test[col] = pd.Categorical(data_test[col], categories=categories)


data_test_encoded = pd.get_dummies(
    data_test,
    columns=list(cols_to_encode.keys()),
    prefix=list(cols_to_encode.keys()),
    dummy_na=False
)

data_test_encoded['income'] = data_test_encoded['income'].map({'>50K': 1, '<=50K': 0})

data_test_encoded.head()
data_test_encoded.shape

(16281, 106)

In [53]:
data_test_encoded.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_ Private,workclass_ Self-emp-not-inc,workclass_ Self-emp-inc,...,native-country_ Guatemala,native-country_ Nicaragua,native-country_ Scotland,native-country_ Thailand,native-country_ Yugoslavia,native-country_ El-Salvador,native-country_ Trinadad&Tobago,native-country_ Peru,native-country_ Hong,native-country_ Holand-Netherlands
0,25,226802,7,0,0,40,0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,38,89814,9,0,0,50,0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,28,336951,12,0,0,40,1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,44,160323,10,7688,0,40,1,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,18,103497,10,0,0,30,0,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [54]:
#Before applying the multiple ML models , I need to standarize both datasets (training and testing)

from sklearn.preprocessing import StandardScaler
import pandas as pd


numeric_features = ['age','fnlwgt','education-num','capital-gain', 'capital-loss','hours-per-week']



# Initialize the scaler
scaler = StandardScaler()

# Fit and transforming the numeric features in the training oversampled data
X_res[numeric_features] = scaler.fit_transform(X_res[numeric_features])



# Now data_scaled has standardized numeric columns and unchanged one-hot columns
print(X_res.head())

        age    fnlwgt  education-num  capital-gain  capital-loss  \
0  0.778193 -1.011740       1.039083     -0.196509     -0.256834
1 -0.187863  0.250644      -0.601862     -0.196509     -0.256834
2  1.019707  0.432607      -1.422335     -0.196509     -0.256834
3 -0.992910  1.421719       1.039083     -0.196509     -0.256834
4 -0.268368  0.908246       1.449320     -0.196509     -0.256834

   hours-per-week  workclass_ Private  workclass_ Self-emp-not-inc  \
0       -2.533639               False                         True
1       -0.177288                True                        False
2       -0.177288                True                        False
3       -0.177288                True                        False
4       -0.177288                True                        False

   workclass_ Self-emp-inc  workclass_ Federal-gov  ...  \
0                    False                   False  ...
1                    False                   False  ...
2                    False                   False  ...
3                    False                   False  ...
4                    False                   False  ...

   native-country_ Guatemala  native-country_ Nicaragua  \
0                      False                      False
1                      False                      False
2                      False                      False
3                      False                      False
4                      False                      False

   native-country_ Scotland  native-country_ Thailand  \
0                     False                     False
1                     False                     False
2                     False                     False
3                     False                     False
4                     False                     False

   native-country_ Yugoslavia  native-country_ El-Salvador  \
0                       False                        False
1                       False                        False
2                       False                        False
3                       False                        False
4                       False                        False

   native-country_ Trinadad&Tobago  native-country_ Peru  \
0                            False                 False
1                            False                 False
2                            False                 False
3                            False                 False
4                            False                 False

   native-country_ Hong  native-country_ Holand-Netherlands
0                 False                               False
1                 False                               False
2                 False                               False
3                 False                               False
4                 False                               False

[5 rows x 105 columns]

In [55]:
# Transforming the numeric features in the test data
data_test_encoded[numeric_features] = scaler.transform(data_test_encoded[numeric_features])
print(data_test_encoded.head())

    age    fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
0  25.0  226802.0            7.0 -9.198336e-18 -9.198336e-18            40.0
1  38.0   89814.0            9.0 -9.198336e-18 -9.198336e-18            50.0
2  28.0  336951.0           12.0 -9.198336e-18 -9.198336e-18            40.0
3  44.0  160323.0           10.0  7.688000e+03 -9.198336e-18            40.0
4  18.0  103497.0           10.0 -9.198336e-18 -9.198336e-18            30.0

   income  workclass_ Private  workclass_ Self-emp-not-inc  \
0       0                True                        False
1       0                True                        False
2       1               False                        False
3       1                True                        False
4       0                True                        False

   workclass_ Self-emp-inc  ...  native-country_ Guatemala  \
0                    False  ...                      False
1                    False  ...                      False
2                    False  ...                      False
3                    False  ...                      False
4                    False  ...                      False

   native-country_ Nicaragua  native-country_ Scotland  \
0                      False                     False
1                      False                     False
2                      False                     False
3                      False                     False
4                      False                     False

   native-country_ Thailand  native-country_ Yugoslavia  \
0                     False                       False
1                     False                       False
2                     False                       False
3                     False                       False
4                     False                       False

   native-country_ El-Salvador  native-country_ Trinadad&Tobago  \
0                        False                            False
1                        False                            False
2                        False                            False
3                        False                            False
4                        False                            False

   native-country_ Peru  native-country_ Hong  \
0                 False                 False
1                 False                 False
2                 False                 False
3                 False                 False
4                 False                 False

   native-country_ Holand-Netherlands
0                               False
1                               False
2                               False
3                               False
4                               False

[5 rows x 106 columns]

In [57]:
# split the target variable in the test dataset 
X_test = data_test_encoded.drop(columns=['income'])
y_test = data_test_encoded['income']

In [76]:
# apply ML models (LR, NB ,DT, RF,QDA , LDA, KNN,SVM)
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


#Model hyperparameters 
model_params={
   "logistic": (LogisticRegression(max_iter=1000), {
        "C": [0.01, 0.1, 1, 10],
        "penalty": ["l2"]
    }),
    "knn": (KNeighborsClassifier(), {
        "n_neighbors": [3, 5, 7],
        "weights": ["uniform", "distance"]
    }),
    "svm": (SVC(), {
        "C": [0.1, 1, 10],
        "kernel": ["linear", "rbf"]
    }),
    
}

In [73]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline

results = {}

for name, (model, params) in model_params.items():
    print(f"ðŸ” Running Grid Search for: {name}")

    # Build pipeline
    pipe = Pipeline([(name, model)])

    # Turn local params into pipeline params
    param_grid = {
        f"{name}__{param}": values
        for param, values in params.items()
    }

    grid = GridSearchCV(
        pipe,
        param_grid,
        cv=5,
        scoring="accuracy",
        n_jobs=-1,  # use all CPU cores
        verbose=1
    )
    
    grid.fit(X_res, y_res)

    results[name] = {
        "best_estimator": grid.best_estimator_,
        "best_score": grid.best_score_,
        "best_params": grid.best_params_
    }

    print(f"âœ”ï¸ Best CV Score ({name}): {grid.best_score_}")
    print(f"âœ”ï¸ Best Params ({name}): {grid.best_params_}")

print("\nðŸŽ¯ Training Done!")

ðŸ” Running Grid Search for: logistic
Fitting 5 folds for each of 4 candidates, totalling 20 fits
âœ”ï¸ Best CV Score (logistic): 0.8815716361061222
âœ”ï¸ Best Params (logistic): {'logistic__C': 0.1, 'logistic__penalty': 'l2'}
ðŸ” Running Grid Search for: knn
Fitting 5 folds for each of 6 candidates, totalling 30 fits
âœ”ï¸ Best CV Score (knn): 0.8714979122498472
âœ”ï¸ Best Params (knn): {'knn__n_neighbors': 7, 'knn__weights': 'uniform'}
ðŸ” Running Grid Search for: svm
Fitting 5 folds for each of 6 candidates, totalling 30 fits
âœ”ï¸ Best CV Score (svm): 0.881410052934732
âœ”ï¸ Best Params (svm): {'svm__C': 1, 'svm__kernel': 'rbf'}

ðŸŽ¯ Training Done!

In [80]:
from sklearn.ensemble import BaggingClassifier, GradientBoostingClassifier
model_params2 = {
    "lda": (LinearDiscriminantAnalysis(), {
        "solver": ["svd", "lsqr"]
    }),
    "qda": (QuadraticDiscriminantAnalysis(), {
        "reg_param": [0.0, 0.1, 0.5]
    }),
    "bagging": (BaggingClassifier(), {
        "n_estimators": [10, 50, 100],
        "max_samples": [0.5, 1.0],
        "random_state": [42]
    }),
    "decision_tree": (DecisionTreeClassifier(random_state=42), {
        "max_depth": [None, 5, 10],
        "criterion": ["gini", "entropy"]
    }),
    "random_forest": (RandomForestClassifier(random_state=42), {
        "n_estimators": [100, 200],
        "max_depth": [None, 10, 20]
    }),
    "gradient_boosting": (GradientBoostingClassifier(random_state=42), {
        "n_estimators": [100, 200],
        "learning_rate": [0.01, 0.1, 0.2],
        "max_depth": [3, 5]
    })
}

In [81]:
results = {}

for name, (model, params) in model_params2.items():
    print(f"ðŸ” Running Grid Search for: {name}")

    # Build pipeline
    pipe = Pipeline([(name, model)])

    # Turn local params into pipeline params
    param_grid = {
        f"{name}__{param}": values
        for param, values in params.items()
    }

    grid = GridSearchCV(
        pipe,
        param_grid,
        cv=5,
        scoring="accuracy",
        n_jobs=-1,  # use all CPU cores
        verbose=1
    )
    
    grid.fit(X_res, y_res)

    results[name] = {
        "best_estimator": grid.best_estimator_,
        "best_score": grid.best_score_,
        "best_params": grid.best_params_
    }

    print(f"âœ”ï¸ Best CV Score ({name}): {grid.best_score_}")
    print(f"âœ”ï¸ Best Params ({name}): {grid.best_params_}")

print("\nðŸŽ¯ Training Done!")

ðŸ” Running Grid Search for: lda
Fitting 5 folds for each of 2 candidates, totalling 10 fits
âœ”ï¸ Best CV Score (lda): 0.8645812568758361
âœ”ï¸ Best Params (lda): {'lda__solver': 'svd'}
ðŸ” Running Grid Search for: qda
Fitting 5 folds for each of 3 candidates, totalling 15 fits

c:\Users\mohrazi\OneDrive - Capgemini\Documents\Supervised_learning\.venv\Lib\site-packages\sklearn\discriminant_analysis.py:1024: LinAlgWarning: The covariance matrix of class 0 is not full rank. Increasing the value of parameter `reg_param` might help reducing the collinearity.
  warnings.warn(
c:\Users\mohrazi\OneDrive - Capgemini\Documents\Supervised_learning\.venv\Lib\site-packages\sklearn\discriminant_analysis.py:1024: LinAlgWarning: The covariance matrix of class 1 is not full rank. Increasing the value of parameter `reg_param` might help reducing the collinearity.
  warnings.warn(

âœ”ï¸ Best CV Score (qda): 0.9062093177992218
âœ”ï¸ Best Params (qda): {'qda__reg_param': 0.0}
ðŸ” Running Grid Search for: bagging
Fitting 5 folds for each of 6 candidates, totalling 30 fits
âœ”ï¸ Best CV Score (bagging): 0.8837559609673452
âœ”ï¸ Best Params (bagging): {'bagging__max_samples': 0.5, 'bagging__n_estimators': 100, 'bagging__random_state': 42}
ðŸ” Running Grid Search for: decision_tree
Fitting 5 folds for each of 6 candidates, totalling 30 fits
âœ”ï¸ Best CV Score (decision_tree): 0.8613032710567928
âœ”ï¸ Best Params (decision_tree): {'decision_tree__criterion': 'entropy', 'decision_tree__max_depth': 10}
ðŸ” Running Grid Search for: random_forest
Fitting 5 folds for each of 6 candidates, totalling 30 fits
âœ”ï¸ Best CV Score (random_forest): 0.8891561763624753
âœ”ï¸ Best Params (random_forest): {'random_forest__max_depth': 20, 'random_forest__n_estimators': 100}
ðŸ” Running Grid Search for: gradient_boosting
Fitting 5 folds for each of 12 candidates, totalling 60 fits
âœ”ï¸ Best CV Score (gradient_boosting): 0.8947392775417231
âœ”ï¸ Best Params (gradient_boosting): {'gradient_boosting__learning_rate': 0.1, 'gradient_boosting__max_depth': 5, 'gradient_boosting__n_estimators': 200}

ðŸŽ¯ Training Done!

In [89]:
from sklearn.ensemble import AdaBoostClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier


boost_params = {
    "xgb": (XGBClassifier(), {
        "n_estimators": [100, 200],
        "learning_rate": [0.05, 0.1],
        "max_depth": [3, 5],
        "subsample": [0.8],
        "colsample_bytree": [0.8]
    }),
    "adaboost": (AdaBoostClassifier(), {
        "n_estimators": [50, 100],
        "learning_rate": [0.05, 0.1],
        "estimator": [
            DecisionTreeClassifier(max_depth=1)
        ]
    }),
    "extratree": (ExtraTreesClassifier(), {
        "n_estimators": [100, 200],
        "max_depth": [None, 10],
        "max_features": ["sqrt", "log2", None]
    })
}

In [90]:
results = {}

for name, (model, params) in boost_params.items():
    print(f"ðŸ” Running Grid Search for: {name}")

    # Build pipeline
    pipe = Pipeline([(name, model)])

    # Turn local params into pipeline params
    param_grid = {
        f"{name}__{param}": values
        for param, values in params.items()
    }

    grid = GridSearchCV(
        pipe,
        param_grid,
        cv=5,
        scoring="accuracy",
        n_jobs=-1,  # use all CPU cores
        verbose=1
    )
    
    grid.fit(X_res, y_res)

    results[name] = {
        "best_estimator": grid.best_estimator_,
        "best_score": grid.best_score_,
        "best_params": grid.best_params_
    }

    print(f"âœ”ï¸ Best CV Score ({name}): {grid.best_score_}")
    print(f"âœ”ï¸ Best Params ({name}): {grid.best_params_}")

print("\nðŸŽ¯ Training Done!")

ðŸ” Running Grid Search for: xgb
Fitting 5 folds for each of 8 candidates, totalling 40 fits
âœ”ï¸ Best CV Score (xgb): 0.8951033654404806
âœ”ï¸ Best Params (xgb): {'xgb__colsample_bytree': 0.8, 'xgb__learning_rate': 0.1, 'xgb__max_depth': 5, 'xgb__n_estimators': 200, 'xgb__subsample': 0.8}
ðŸ” Running Grid Search for: adaboost
Fitting 5 folds for each of 4 candidates, totalling 20 fits
âœ”ï¸ Best CV Score (adaboost): 0.8061215030819131
âœ”ï¸ Best Params (adaboost): {'adaboost__estimator': DecisionTreeClassifier(max_depth=1), 'adaboost__learning_rate': 0.1, 'adaboost__n_estimators': 100}
ðŸ” Running Grid Search for: extratree
Fitting 5 folds for each of 12 candidates, totalling 60 fits
âœ”ï¸ Best CV Score (extratree): 0.8723073133364952
âœ”ï¸ Best Params (extratree): {'extratree__max_depth': None, 'extratree__max_features': None, 'extratree__n_estimators': 200}

ðŸŽ¯ Training Done!

After applying the grid search on the datasets, Here are the best params for each model: 
Logistic Regression: {'logistic__C': 0.1, 'logistic__penalty': 'l2'} 
SVM: {'logistic__C': 0.1, 'logistic__penalty': 'l2'}
Decision Tree: {'decision_tree__criterion': 'entropy', 'decision_tree__max_depth': 10}
Random Forest: {'random_forest__max_depth': 20, 'random_forest__n_estimators': 100}
AdaBoost: {'adaboost__estimator': DecisionTreeClassifier(max_depth=1), 'adaboost__learning_rate': 0.1, 'adaboost__n_estimators': 100}
GradientBoosting: {'gradient_boosting__learning_rate': 0.1, 'gradient_boosting__max_depth': 5, 'gradient_boosting__n_estimators': 200}
ExtraTree: {'extratree__max_depth': None, 'extratree__max_features': None, 'extratree__n_estimators': 200}
XGB: {'xgb__colsample_bytree': 0.8, 'xgb__learning_rate': 0.1, 'xgb__max_depth': 5, 'xgb__n_estimators': 200, 'xgb__subsample': 0.8}
QDA: {'qda__reg_param': 0.0}
LDA:{'lda__solver': 'svd'}
KNN:{'knn__n_neighbors': 7, 'knn__weights': 'uniform'}

In [ ]:
import seaborn as sns
lr_model=LogisticRegression(C=0.1, penalty='l2',max_iter=1000)
lr_model.fit(X_res, y_res)
y_pred=lr_model.predict(X_test)